#main-div{
    background-image: linear-gradient(30deg,violet,indigo,blue,lightgreen,yellow,orange,red);
    width:30%;
    border-radius: 25px;
    margin-top:10%;
    margin-left: 30%;
    text-align: center;
 }
.result{
    height:7%;
    text-align: right;
    margin-top:2%;
    width:95%;
    border-radius: 10px;
}
.number-button{
    background-image: linear-gradient(30deg,green,white,blue);
    margin:10px;
    padding:10px;
    text-align: center;
    height:15%;
    outline: none;
}
.operator-button{
    background-image: linear-gradient(30deg,green,white,blue);
    margin:10px;
    padding:10px;
    text-align: center;
    height:12%;
    outline: none;
} 
#main-result{
    text-align:right;
}
#clear{
    background-image: linear-gradient(30deg,green,white,blue);
    margin-top:2% ; 
    margin-bottom:2% ; 
    width:40% ; 
    font-size:120%
}
